/* Nav bar style---------------->>>>>>>>>>>>>>>>>>>>>>>>>>>> */

body {
    background-color: #353636;
}

.navbar {
    display: flex;
    /* flex-wrap: wrap; */
    height: 100px;
    /* justify-content: space-between; */
    margin-bottom: 30px;
}

.navbar>div {
    display: flex;
    align-items: center;
    width: 40%;
    /* border: 1px solid red; */
    justify-content: space-evenly;
}

#nav1 {
    width: 100px
}

.navbar>#nav1>div {
    /* border: 1px solid red; */
    height: 50px;
    display: flex;

    margin: auto;
    align-items: center;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#menu {
    width: 50px;
}

#menu:hover {
    cursor: pointer;
}

#menu img {
    width: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    width: 120px;

}

#logo:hover {
    cursor: pointer;
}

#logo img {
    width: 80%;
}

#kids {
    color: orange;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav1>div:hover {
    cursor: pointer;
    color: red;
}

.navbar .nav2 {
    margin-left: 50px;
}

.navbar .nav2 button {
    margin-left: 50px;
}

.navbar .nav2 input {
    width: 55%;
    height: 40px;
    border-radius: 10px;
    margin-left: 100px;
}

.navbar .nav2 #subscribe {
    height: 35px;
    background-color: darkblue;
    color: white;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

.navbar .nav2 #subscribe:hover {
    background-color: red;
    cursor: pointer;
}

.navbar .nav2 #login {
    background: none;
    color: white;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.navbar .nav2 #login a {
    text-decoration: none;
    color: white;
}

.navbar .nav2 #login:hover {
    background-color: red;
    cursor: pointer;
}

/*  slide show style -------->>>>>>>>>>>>>>>>>>>>>>>> */

#corosoul img {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(32, 25, 25, 0.35) 0px 5px 15px;
}

#movieData {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px;
    box-shadow: rgba(32, 25, 25, 0.35) 0px 5px 15px;
}

#movieData div {
    box-shadow: rgba(245, 240, 240, 0.35) 0px 5px 15px;
    border-radius: 20px;
    /* margin: auto; */
    line-height: 30px;
    /* color: white; */
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

#movieData div:hover {
    background-color: green;
}

#movieData div img {
    width: 100%;
}

#loader {
    margin-left: 50vw;
}

#loader img {
    width: 30px;
}

#details {
    /* detail button in searched items */
    background-color: orange;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 5px;
}

#filt-search {
    display: flex;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    align-items: center;
}

#filt-search button {
    margin-left: 70px;
}

/* #search_div {
    line-height: 25px;
  } */

#searchMovie>input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    font-size: large;
}

/* Loin data here */
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    width: 10%;
}

input {
    margin-top: 10px;
}

button {
    margin-top: 10px;
}

@media all and (min-width: 480px) and (max-width: 820px) {
    #movieData {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #loader {
        margin-left: 50vw;
    }

    .navbar {
        /* flex-wrap: wrap; */
        /* flex-direction: column; */
        margin: auto;
        font-size: smaller;
    }

    #nav1>.nav {
        display: none;
    }

    button {
        display: none;
    }
}

@media all and (min-width: 160px) and (max-width: 470px) {


    #movieData {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    #loader {
        margin-left: 50vw;
    }

    .navbar {
        /* flex-wrap: wrap; */
        /* flex-direction: column; */
        margin: 0px;
        margin-bottom: 30px;
    }

    .navbar>div {
        display: flex;

        width: 100%;
        /* justify-content: space-evenly; */

    }

    #subscribe,
    #menu,
    #nav1 {
        display: none;
    }

    /* #nav1 {
        display: none;
    } */

    #menu img {
        width: 18px;
    }

    #logo {
        width: 100px;
    }

    #logo img {
        width: 100%;
    }

    .navbar .nav2 input {
        width: 100px;
        height: 20px;
        border-radius: 10px;

    }

    .navbar .nav2 #subscribe {
        height: 25px;

        border-radius: 10px;
    }

    .navbar .nav2 #login {
        color: white;
        height: 25px;
    }
}

/* details page */
#container {
    text-align: center;
    margin: auto;
    color: white
}

#container img {
    width: 30%;
}